<br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <div class="panel panel-primary">
    <div class="panel-heading">
        New on DisDev?
    </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="jumbotron">
              <p class="text-center">
                Create a WorkGroup and add as much friends as you want to it.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="jumbotron">
              <p class="text-center">
                Create a Project to start sharing your standUp's with your friends.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="jumbotron">
              <p class="text-center">
                Create StandUp's everyday to inform your friends what are you doing.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
