<% provide(:title, "About") %>

<h1 class="text-center">About</h1>
<p class="text-center">
  This is an open source app destinated to improve <br/>
  the comunication between members of a development group. <br/>
  All the source code is at <%= link_to 'github',
   "https://github.com/tatomolina/disdev" %> feel free to watch <br/>
   and modify it
</p>
