<% provide(:title, "Help") %>

<h1 class="text-center">Help</h1>
<p class="text-center">
  This is an open source app destinated to improve <br/>
  the comunication between members of a development group.<br/>
  If you want lo learn more about the scrum way
  <%= link_to 'read it here', "http://en.wikipedia.org/wiki/Scrum_(software_development)" %>
  <br/>
  In case of any problems dont doubt in
  <%= link_to 'contact me' %><br/>
  Best of Lucks! ;-)
</p>
