<% provide(:title, "Home") %>

<%= render 'new_advise' %>

<div class="row">
  <div class="col-md-7 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Last Activities
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Your Projects
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <% current_user.projects.each do |project| %>
            <%= link_to project.name, project_path(project) %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
