<div class="container top-buffer">
  <div class="text-center">
    <h1>Star to Develop in the Scrum way</h1><br/>
    <h4>Create your own workGroup and start developing.</h4>
    <h4>Or search for already created WorkGroups and ask to join them.</h4><br/><br/>
    <%= link_to 'Create WorkGroup', new_work_group_path, class: "btn btn-lg btn-default" %>
    <%= link_to 'Search WorkGroup', work_groups_path, class: "btn btn-lg btn-default" %><br/><br/>
  </div>
</div>
