<div class="row">
  <br>
  <div class="col-md-2">
    <%= render 'user_profile' %>
  </div>

  <div class="col-md-10">
    <%= render 'user_navbar' %>


    <div class="row">
    </div>
  </div>
</div>
