<% provide(:title, "Project") %>
<br>
<div class="row">
  <div class="col-md-2">
    <%= render partial: 'project_profile', locals: {project: @project, user: nil} %>
  </div>
  <div class="col-md-10">
    <%= render partial: 'project_navbar', locals: {project: @project, user: nil} %>

    <div class="panel panel-default overview">
      <div class="text-center">
        <h1>Editing <%= @project.name %></h1>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
