<h1 class="text-center">Projects</h1>

<br/><br/>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel">
      <table class="table table-hover text-center">
        <tr>
          <th class="text-center">Name</th>
        </tr>
        <% if @projects.present? %>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.name %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td>There arent projects created yet</td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="text-center">
      <p>
        <% if policy(Project).new? %>
          <%= link_to 'New project', new_project_path, class: "btn btn-primary" %>
        <% end %>
      </p>
    </div>
  </div>
</div>
