<% provide(:title, "Project") %>
<br>
<div class="row">
  <div class="col-md-2">
    <%= render partial: 'project_profile', locals: {project: @project, user: nil} %>
  </div>
  <div class="col-md-10">
    <%= render partial: 'project_navbar', locals: {project: @project, user: nil} %>

    <% blocker_activities = [] %>

    <% @activities.each do |activity| %>
        <% if activity.trackable.try(:stand_up).try(:project) == @project %>
          <% blocker_activities << activity %>
        <% end %>
    <% end %>

    <% if blocker_activities.any? %>
      <table class="table">
        <% blocker_activities.each do |blocker_activity| %>
          <tr>
            <td>
              <div class="row">
                <%= render_activity blocker_activity %>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @activities, renderer: BootstrapPagination::Rails %>
    <% else %>
      <h3>
        There's nothing new
      </h3>
    <% end %>
  </div>
</div>
