<% provide(:title, "Project") %>
<br>
<div class="row">
  <div class="col-md-2">
    <%= render partial: 'project_profile', locals: {project: @project, user: nil} %>
  </div>
  <div class="col-md-10">
    <%= render partial: 'project_navbar', locals: {project: @project, user: nil} %>

    <div class="panel panel-default overview">

      <% blocker_activities = [] %>

      <% @activities.each do |activity| %>
          <% if activity.trackable.try(:stand_up).try(:project) == @project %>
            <% blocker_activities << activity %>
          <% end %>
      <% end %>

      <% if blocker_activities.any? %>
      <% blocker_activities = blocker_activities.paginate(:per_page => 5, :page => params[:page]) %>
        <table class="table">
          <% blocker_activities.each do |blocker_activity| %>
            <tr>
              <td>
                <div class="row">
                  <%= render_activity blocker_activity %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
        <%= will_paginate blocker_activities, renderer: BootstrapPagination::Rails %>
      <% else %>
        <h3>
          There's nothing new
        </h3>
      <% end %>
    </div>
  </div>
</div>
