<% provide(:title, "Project") %>
<br>
<div class="row">
  <div class="col-md-2">
    <%= render partial: 'project_profile', locals: {project: @project, user: nil} %>
  </div>
  <div class="col-md-10">
    <%= render partial: 'project_navbar', locals: {project: @project, user: nil} %>

    <div class="panel panel-default overview">

      <% group_activities = [] %>

      <% @activities.each do |activity| %>
          <% if (activity.trackable.try(:project) == @project) || (activity
            .trackable.try(:stand_up).try(:project) == @project) || (activity
            .trackable == @project) %>
            <% group_activities << activity %>
          <% end %>
      <% end %>

      <% if group_activities.any? %>
        <% group_activities = group_activities.paginate(:per_page => 5, :page => params[:page]) %>
        <table class="table">
          <% group_activities.each do |group_activity| %>
            <tr>
              <td>
                <div class="row">
                  <%= render_activity group_activity %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
        <%= will_paginate group_activities, renderer: BootstrapPagination::Rails %>
      <% else %>
        <h3>
          There's nothing new
        </h3>
      <% end %>
    </div>
  </div>
</div>
