<div class="text-center">
  <%= form_tag work_groups_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], class: "form-control" %>
      <br>
      <%= submit_tag "Search", :name => nil, class: "btn btn-primary"%>
    </p>
  <% end %>
</div>
