<% provide(:title, "WorkGroup") %>

<div class="row">
  <br>
  <div class="col-md-2">
    <%= render 'work_group_profile' %>
  </div>
  <div class="col-md-10">
    <%= render 'work_group_navbar' %>

  </div>
</div>
