<div class="col-md-6">
  <h2 class="text-center">Today</h2>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="text-center panel-title">Tasks</h3>
  </div>

  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked text-center">
      <% @standUp.tasks.each do |task| %>
        <li><%= link_to task.title, task_path(task) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="text-center panel-title">Blockers</h3>
  </div>

  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked text-center">
      <% @standUp.blockers.each do |blocker| %>
        <li><%= link_to blocker.title, blocker_path(blocker) %></li>
      <% end %>
    </ul>
  </div>
</div>
