<div class ="col-md-6" >
  <h2 class="text-center">Last StandUp</h2>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="text-center panel-title">Tasks</h3>
    </div>

    <div class="panel-body">
      <table class="table table-hover">
        <% if @standUps.size > 1 #Do this to check if it is the first standUp %>
          <% if @standUp.created_at == nil #check if I am on new%>
            <% @standUps.first.tasks.each do |task| %>
              <tr>
                <td>
                  <div class="text-center">
                    <%= task.description %>
                  </div>
                </td>
              </tr>
            <% end %>
          <% else %>
            <% @standUps.second.tasks.each do |task| %>
              <tr>
                <td>
                  <div class="text-center">
                    <%= task.description %>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>

  <% if @standUps.size > 1 #Do this to check if it is the first standUp %>
    <% if @standUp.created_at == nil #check if I am on new%>
      <% if @standUps.first.blockers.any? #check if there is any blocker present%>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="text-center panel-title">Blockers</h3>
          </div>

          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked text-center">
              <% @standUps.first.blockers.each do |blocker| %>
                <li><%= link_to blocker.title, blocker_path(blocker) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    <% else %>
    <% if @standUps.second.blockers.any? #check if there is any blocker present%>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="text-center panel-title">Blockers</h3>
        </div>

        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked text-center">
            <% @standUps.second.blockers.each do |blocker| %>
              <li><%= link_to blocker.title, blocker_path(blocker) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <% end %>
  <% end %>

</div>
