<h1 class="text-center">StandUp</h1>
<div class = "row">
  <%= render 'yesterday' %>

  <%= render 'today' %>

</div>
<div class="text-center">
  <%= link_to 'Back', (request.referrer || stand_ups_path), class: "btn btn-primary btn-lg" %>
  <%= link_to 'New', new_stand_up_path, class: "btn btn-primary btn-lg" %>
</div>
