<%# add navigation links to this file %>

<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Help", help_path %></li>
<% if current_user.present? %>
  <li><%= link_to "WorkGroup", work_group_path(current_user.work_group.id) %></li>
  <li><%= link_to "My StandUp's", stand_ups_path %></li>
<% end %>
